.vs/
bin/
obj/
out/
artifacts/
/site/
node_modules/
TestResults/
src/DopeCompanion.App.Package/AppPackages/

session/
*.user
*.suo
*.cache

src/DopeCompanion.Private/
tests/DopeCompanion.Private.Tests/
private/
